* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/bg.jpg") no-repeat center center;
  background-size: cover;
}

.h1 {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
  color: black;
  font-weight: 500;
}

input {
  text-align: right;
  background-color: black;
  color: white;
  padding-right: 0.2rem;
  margin: auto;
  height: 5.5rem;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 0.2rem;
  border: none;
}

input::placeholder {
  color: white;
  font-size: 2rem;
}

button {
  font-size: 2.5rem;
  flex-basis: 25%;
  height: 10vh;
  background-color: silver;

  box-shadow: 2px 2px 2px 2px black#aaaaaa;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.Main-Buttons {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Cal-1,
.cal-2,
.cal-3,
.cal-4,
#cal-5 {
  display: flex;

  align-items: center;
  width: 51%;
}

#pd,
#eq {
  background-color: purple;
  flex-basis: 50%;
}


@media(max-width:426px){




.Main-Buttons{
    width: 100%;
}

#Cal-1,
.cal-2,
.cal-3,
.cal-4,
#cal-5 {
  display: flex;

  align-items: center;
  width: 92%;
}

#inp{
    height: 4rem;
}

button{
    height: 11vh;
    font-size:2rem;
}

body::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("/bg.jpg") no-repeat center center;
    background-size: cover;
  }
  
    

}